<!DOCTYPE html>
<html>
<head>
  <title>Clay Whitley | Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"><h1><a href="/">Clay Whitley</a></h1></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Work", projects_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
      </ul>
    </section>
  </nav>
  <% if user_signed_in? %>
    <div class="row admin-panel">
      <div class="small-3 columns">
        Admin actions:
      </div>
      <div class="small-3 columns">
        <%= link_to "New post", new_post_path %>
      </div>
      <div class="small-3 columns">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% end %>

  <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>

  <div class="row main-content">
    <%= yield %>
  </div>

  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list left">
            <li><a href="https://github.com/clay-whitley/claywhitley_portfolio_site"><i class="icon-github-sign" style="font-size: 2em; color: black"></i> Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
