<!DOCTYPE html>
<html>
<head>
  <title>PortfolioSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row nav-logo"></div>
  <div class="row nav-full fixed" id="main_nav">
    <%= link_to "WORK", projects_path, class: 'small-4 columns active' %>
    <a href="#" class="small-4 columns">BLOG</a>
    <a href="#" class="small-4 columns">ME</a>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list left">
            <li><a href="https://github.com/clay-whitley/claywhitley_portfolio_site">Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
