<!DOCTYPE html>
<html>
<head>
  <title>PortfolioSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <ul id="main_nav">
        <li class="active"><%= link_to "WORK", projects_path %></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">ME</a></li>
        <div class="clearfix"></div>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
